* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(247, 245, 245);
    font-family: "Lato", sans-serif;
}
.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    color: white;
    background-color: #002D78;
    padding: 0 20px; 
}

.signin {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0059e4;
    border-radius: 2px;
    padding: 0px 12px;
    height: 64px; 
    margin-right: 125px;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
}
.signin i {
    margin-right: 8px;
    font-size: large;
}
.signin:hover {
    background-color: #0047b6;
}

.menu-items {
    display: flex;
}
.menu-items a {
    color: white;
    text-decoration: none;
}

.menu-items div {
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    padding: 0.5em 1.5em;
    border: 2px solid white;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    align-items: center;
}

.menu-items div:hover {
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-items img {
    filter: brightness(0) invert(1);
    margin: -2px 8px 0 0;
}

.header-img {
    padding-left: 40px;
    max-height: 32px;
    margin-top: -6px;
    margin-left: 100px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #CCE0F4;
    width: 100%;
}

.search-div {
    height: 60px;
    margin-top: 12px;
    font-size: 1em;
    margin-left: 150px;
    width: 50%;
    position: relative;
}
.search-div input {
    width: 100%;
    height: 30px;
    padding: 8px 0 8px 10px;
    font-size: 1em;
    border: none;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    outline: none;
}
.search-list {
    list-style: none;
    position: absolute;
    padding: 0;
    font-size: 1.15em;
    color: #002d72;
    width: 100%;
    display: none;
    background-color: white;
    z-index: 2;
}
.search-list li:hover {
    background-color: #d2e2f1;
}
.search-list p:hover {
    color: #0059e4;
    cursor: pointer;
}
.search-list li {
    padding: 12px;
}
.search-div:focus-within .search-list {
    display: block;
}
.search-div:focus-within i {
    display: none;
}
.search-div:focus-within input{
    outline: none;
    border: none;
}


.search-div i {
    position: absolute;
    right: 5px;
    top: 40%;
    transform: translateY(-50%);
    color: #ccc;
    z-index: 3;
    cursor: pointer;
}

.hero-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    margin-left: 125px;
    margin-right: 125px;
}
.contact, .location {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1em;
    color: #002d72;
    cursor: pointer;
    font-weight: 550;
}

.contact i, .location i {
    margin-right: 8px;
    color: #0059e4;
    font-size: 1.5em;
}
.hero-info .line {
    font-weight: 100;
    font-size: 3em;
}
.content {
    margin-left: 150px;
    margin-right: 150px;
}
.teaser {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #FFED00;
}
.teaser-img {
    width: 60%;
}
.teaser img{
    width: 100%;
    
}

.teaser-text{
    padding:5%;
    color: #002d72;
    cursor: pointer;
    width: 40%;
}
.teaser-text .btn1 {
    color: white;
    background-color: #002d72;
    font-size: 0.8em;
    padding: 1px 2px;
}
.teaser-text h1 {
    font-size: 2em;
    margin-top: 25px;
}
.teaser-text h4 {
    font-size: 20px;
    margin-top: 15px;
    font-weight: 400;
}
.teaser-text .btn2 {
    background-color: #0059e4;
    color: white;
    padding: 15px 25px;
    border: none;
    font-size: 15px;
    margin-top: 25px;
}
.options {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 155px;
    width: 100%;
}
.options div {
    background-color: #CCE0F4;
    width: 22%;
    padding: 40px;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.reward4{
    margin-right: 0px !important;
}
.options img {
    display: block;
    width: 60px;
}
.options a {
    margin-top: 15px;
    font-size: 1em;
    color: #002d72;
    font-weight: bold;
}
.footer {
    background-color: #002D78;
    height: 64px;
    width: 100%;
    
}
.footer ul {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}
.footer li {
    margin: 25px;
}
.footer a {
    color: white;
    font-size: 16px;
}
.divv{
    width: 100%;
    background-color: white;
}
.links {
    height: 355px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    background-color: white;
}
.metro2 {
    width: 20%;
    margin-right: 10px;
    padding: 20px 24px;
    height: 300px;
    display: flex;
    flex-direction: column;
    color: #002d72;
    line-height: 40px;
}
.metro2 h3 {
    font-size: 18px;
}
.metro2 p {
    font-size: 11px;
}
.metro2 a {
    color: #002d72;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.metro2 a:hover {
    color: #0059e4;
}
.metro2 .phone {
    text-decoration: underline;
}
.phone i {
    margin-right: 8px;
    color: #0059e4;
}
.email i {
    margin-right: 8px;
    color: #0059e4;
}
.icons i {
    color: #0059e4;
    margin-right: 10px;
    font-size: 25px;
}
.catalogs {
    background-color: white;
    margin-top: 30px;
}
.catalogs h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #002d72;
    padding-top: 20px;
}
.catalogs div{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.catalogs a{
    margin: 20px;
    color: #0059e4;
    font-size: 1em;
    text-decoration: none;
    padding-bottom: 20px;
    margin-bottom: 0px;
    font-weight: 700;
}
.latest{
    border-bottom: 4px solid #002d72;
   color: #002d72 !important;
   
}
.latest2:hover{
    border-bottom: 4px solid #CCE0F4;

}
.catalogs-img{
    width: 19%;
    background-color: white;
    padding: 14px 14px 28px;
    color: #002d72;
    line-height:1.5em;
}
.catalogs-img img{
    width: 100%;

}
.catalogs-img:hover{
    background-color: #CCE0F4;
    cursor: pointer;
}

.non-food{
    color: #002D78;
    margin-top: 25px;
}
.non-food-offers{
    width: 100%;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 10px;
  scroll-behavior: smooth;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
.non-food-offers .choice{
    margin-top: 10px;
    background-color: white;
    width: 15%;
    height: 250px;
    padding: 30px;
    font-size: 0.9em;
    line-height: 2em;
    color: #002d72;
    cursor: pointer;
    flex: 0 0 auto;
}
.non-food-offers .pic{
    width: 100%;
    height: 100px;
}
.non-food-offers h4{
    margin-top: 100px;
}
.non-food-offers img{
    width: 100%;
}
.non-food-offers button{
    color: #33435B;
    font-size:0.8em;
    padding: 4px 5px 3px;
    margin: 10px;
    border-radius: 0.7em;
    border: 0.5px solid grey;
}
.categories{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 11px;
}
.categories a{
    font-size: 1em;
    color: #002D78;
}
.categories a:hover{
    color: #0059e4;
}
.categories-list .choice{
    padding: 14px ;
    height: 200px;
    position: relative;

}
.categories-list .choice h4{
    margin-top: 0em;
    margin-left: 0;
    font-size: 1.25em;
}
.categories-list img{
    width: 35%;
    position: absolute;
    bottom: 1em;
    right:1em;
}
.own-brand-offers .choice{
    padding: 5px;
    height: 320px;
    width: 18%;
}
.own-brand-offers .pic{
    width: 100%;

    position: relative;
}
.own-brand-offers img{
    width: 50%;
    position: absolute;
    left: 25%;
    top: 15%;
}
.btns button{
    display: block;
}
.discount{
    background-color: rgb(243, 64, 94);
    color: white !important;
    margin-top: 20px !important;
    margin-bottom: 5px !important;
}
.copyright{
    height: 50px;
    background-color: #d2e2f1;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
    color: #002D78;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright i{
    margin-right: 0.2em;
}
.online-market-place{
    display: flex;
    width: 100%;
    height: 400px;
    
}
.online-market-place .places{
    width: 33%;
    margin: 10px 10px 10px 0px;
    background-color: white;
    text-align: center;
    line-height: 3em;
    color: #002D78;
}
.places h4{
    font-weight: lighter;
}
.places img{
    width: 100%;
    height: 250px;
}
.form{
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 220px;
    background-color: white;
    color: #002D78;
    line-height: 3em;
}
.form button{
    background-color: #0059e4;
    color: white;
    border: none;
    outline: none;
    padding: 10px 20px 10px 20px;
    font-size: 1em;

}
.form button:hover{
    cursor: pointer;
    background-color: #002D78;
}

.discover-metro{
    display: flex;
    width: 100%;
    height: 450px;
    
}
.discover-metro .discover{
    background-color: white;
    width: 25%;
    margin: 10px 10px 10px 0px;
    padding: 15px;
    color: #002D78;
}
.discover img{
    width: 100%;
    height: 230px;
}
.discover h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.discover p{
    margin-top: 10px !important;
    margin-bottom: 10px;
    color: dimgray;
    font-size: 1em;
}
.teaserr{
    margin-top: 10px;
}
.discover a{
    color: dimgray;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 100%;
    height: 200px;
    line-height: 2em;
    color: #002D78;
    cursor: pointer;
}
.icons .seperate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.seperate img{
    width: 50%;
    height: 60px;

}
.seperate h3{
    font-size: 1.5em;
    margin-top: 10px;
}
.seperate a{
    color: #002D78;
}
.seperate a:hover{
    color: #0059e4;
    cursor:  pointer;
}
.teaser-below{
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 40px;
}

.teaser-below .parts{
    height: 500px;
    width: 50%;
    margin-right: 30px;
    margin-top: 30px;
}
.parts div{
    margin-top: 12px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    color: white;
    line-height: 2.6em;
    text-shadow: 0 0 10px #000;
    
}
.parts div h1{
    font-weight: bolder;
    font-size: 2.5em;
}
.parts div h3{
    font-size: 1em;
}
.parts button{
    width: 20%;
    color: white;
    background-color: #0059e4;
    border: none;
    outline: none;
    padding: 15px 20px 15px 20px;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
}
.parts button:hover{
    background-color: #002d72;
}
.part2{
    margin-right: 0px !important;
    
}
.div-inside1{
    background-image: url(./images/BMPL-2.webp);
    height: 450px;
    object-fit: cover;
    background-repeat: no-repeat;
    cursor: pointer !important;
}
.div-inside2{
    cursor: pointer !important;
    height: 450px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./images/Small-Metro-Online-Trolley.avif);
}
.hover-shadow{
    transition: box-shadow 0.3s ease; 
}
  
.hover-shadow:hover {
    box-shadow: -10px 0px 15px rgba(0, 0, 0, 0.2),
                10px 0px 15px rgba(0, 0, 0, 0.2); 
}



  